<h2>Opening Times</h2>
<div id="schedule">
  <table class="table table-striped table-hover">
    <tbody>
      <tr>
        <td>Monday</td>
        <td>05:00 to 22:30</td>
      </tr>
      <tr>
        <td>Tuesday</td>
        <td>05:00 to 22:30</td>
      </tr>
      <tr>
        <td>Wednesday</td>
        <td>05:00 to 22:30</td>
      </tr>
      <tr>
        <td>Thursday</td>
        <td>05:00 to 22:30</td>
      </tr>
      <tr>
        <td>Friday</td>
        <td>05:00 to 22:30</td>
      </tr>
      <tr>
        <td>Saturday</td>
        <td>08:00 to 22:00</td>
      </tr>
      <tr>
        <td>Sunday</td>
        <td>08:00 to 22:00</td>
      </tr>
    </tbody>
  </table>
</div>
<h2>Contact Details</h2>
<p>50 New Street
  <br> Birmingham
  <br> West Midlands
  <br> B1 1ZX
  <br> United Kingdom</p>
<p>021 03746537</p>