<h2>Opening Times</h2>
<div id="schedule">
  <table class="table table-striped table-hover">
    <tbody>
      <tr>
        <td>Monday</td>
        <td>06:00 to 21:30</td>
      </tr>
      <tr>
        <td>Tuesday</td>
        <td>07:00 to 17:30</td>
      </tr>
      <tr>
        <td>Wednesday</td>
        <td>07:00 to 17:30</td>
      </tr>
      <tr>
        <td>Thursday</td>
        <td>07:00 to 17:30</td>
      </tr>
      <tr>
        <td>Friday</td>
        <td>07:00 to 17:30</td>
      </tr>
      <tr>
        <td>Saturday</td>
        <td>09:00 to 17:00</td>
      </tr>
      <tr>
        <td>Sunday</td>
        <td>09:00 to 17:00</td>
      </tr>
    </tbody>
  </table>
</div>
<h2>Contact Details</h2>
<p>17 Swan Street
  <br> Warwick
  <br> Warwickshire
  <br> CV32 2PL
  <br> United Kingdom</p>
<p>01926 738465</p>