{% extends 'bootstrap/base.html'%}
{% block title %} Phoenix Coffee {% endblock %}
{% block head %}
{% include 'head.html'%}
{% endblock %}
{% block navbar %}  
{% include 'nav.html'%}   
{% endblock %}
{% block content %}
{% block header %}  
{% include 'main_header.html'%}  
{% endblock %}
<section>
<div class="container">
   <div class="row">
   <div class="col-sm-12">
<h2>Intro</h2>
</div>
</div>   
   <div class="row">
      <div class="col-sm-6">

         <p>Founded in 2010 by Sarah, Tom and Amber, Phoenix Coffee aspired to bring great coffee to Coventry, one cup at a time. With chain coffee shops popping up on every corner, we wanted to give local people to experience amazing coffee from an independent coffee shop.</p>
</div>
<div class="col-sm-6">  
           <p>We source all out coffee from UK rotaries, who work with farmers across the across the world to deliver exclusive small batch roasts, meaning once it is gone it is gone!   </p>

          <p>Hover over the photos below to see our favourite drinks!</p>
      </div>
      </div>
    </div>
   </section>
   <section class="grey">
    <div class="container">  
      <div class="row">
      <div class="col-sm-12">
         <h2>Founders</h2>
      </div>
      <div class="col-sm-4 profile_padding text-center">
         <h3>Sarah</h3>
         <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
         <div class="flipper">
         <div class="front">

         <img src="/static/img/profile/profile_1.png" class="profile">
               </div>
      <div class="back">
     <img src="/static/img/coffee/coffee_1.png" class="profile">
      </div>
   </div>
</div>
         <blockquote>Lives for coffee! Managed serveral coffee shops over the years, now proud to own one.</blockquote>
      </div>
      <div class="col-sm-4 profile_padding text-center">
         <h3>Tom</h3>
         <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
         <div class="flipper">
         <div class="front">

         <img src="/static/img/profile/profile_2.jpg" class="profile">
               </div>
      <div class="back">
     <img src="/static/img/coffee/coffee_7.png" class="profile">
      </div>
   </div>
</div>
         <blockquote>Coffee runs through my vains. Start and end the day with an espresso!</blockquote>
      </div>
      <div class="col-sm-4 profile_padding text-center">
         <h3>Amber</h3>
         <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
         <div class="flipper">
         <div class="front">

         <img src="/static/img/profile/profile_3.jpg" class="profile">
               </div>
      <div class="back">
     <img src="/static/img/coffee/coffee_4.png" class="profile">
      </div>
   </div>
</div>
         <blockquote>Who needs sleep when you can just drink coffee!</blockquote>
      </div>
      </div>
      </div>
      </section>
      <section>
      <div class="container">
      <div class="row">
      <div class="col-sm-12">
         <h2>Staff</h2>
      </div>
      <div class="col-sm-3 profile_padding text-center">
         <h3>Cathy</h3>
         <div class="flip-container-s" ontouchstart="this.classList.toggle('hover');">
         <div class="flipper">
         <div class="front-s">

         <img src="/static/img/profile/profile_4.jpg" class="profile">
               </div>
      <div class="back-s">
     <img src="/static/img/coffee/coffee_4.png" class="profile">
      </div>
   </div>
</div>
         <blockquote>My life: Coffee, work, coffee, study, coffee.</blockquote>
      </div>
      <div class="col-sm-3 profile_padding text-center">
         <h3>Joe</h3>
         <div class="flip-container-s" ontouchstart="this.classList.toggle('hover');">
         <div class="flipper">
         <div class="front-s">

         <img src="/static/img/profile/profile_5.jpg" class="profile">
               </div>
      <div class="back-s">
     <img src="/static/img/coffee/coffee_5.png" class="profile">
      </div>
   </div>
</div>
         <blockquote>I want to travel the world and try all the coffee there is!</blockquote>
      </div>
      <div class="col-sm-3 profile_padding text-center">
         <h3>Tina</h3>
         <div class="flip-container-s" ontouchstart="this.classList.toggle('hover');">
         <div class="flipper">
         <div class="front-s">

         <img src="/static/img/profile/profile_6.jpg" class="profile">
               </div>
      <div class="back-s">
     <img src="/static/img/coffee/coffee_6.png" class="profile">
      </div>
   </div>
</div>
         <blockquote>I take my coffee black. No sugar.</blockquote>
      </div>
      <div class="col-sm-3 profile_padding text-center">
         <h3>James</h3>
         <div class="flip-container-s" ontouchstart="this.classList.toggle('hover');">
         <div class="flipper">
         <div class="front-s">

         <img src="/static/img/profile/profile_7.jpg" class="profile">
               </div>
      <div class="back-s">
     <img src="/static/img/coffee/coffee_7.png" class="profile">
      </div>
   </div>
</div>
         <blockquote>I am the best latte artist there is!!!</blockquote>
      </div>
      </div>
   </div>
   </section>
</div>
{% block footer %}
{% include 'footer.html'%}
{% endblock %}
{% endblock %}