{% extends 'base.html' %}
{% block navbar %}  
{% include 'nav.html'%}   
{% endblock %}
{% block content %}
{% block header %}  
{% include 'main_header.html'%}  
{% endblock %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>Opening Times</h2>
                <div id="schedule">
                    <table class="table table-striped table-hover">
                        <tbody>
                            <tr>
                                <td>Monday</td>
                                <td>06:00 to 21:30</td>
                            </tr>
                            <tr>
                                <td>Tuesday</td>
                                <td>06:00 to 21:30</td>
                            </tr>
                            <tr>
                                <td>Wednesday</td>
                                <td>06:00 to 21:30</td>
                            </tr>
                            <tr>
                                <td>Thursday</td>
                                <td>06:00 to 21:30</td>
                            </tr>
                            <tr>
                                <td>Friday</td>
                                <td>06:00 to 21:30</td>
                            </tr>
                            <tr>
                                <td>Saturday</td>
                                <td>08:00 to 21:00</td>
                            </tr>
                            <tr>
                                <td>Sunday</td>
                                <td>08:00 to 21:00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h2>Contact Details</h2>
                <p>20 Broadgate<br>
                Coventry<br>
                West Midlands<br>
                CV1 1FP<br>
                United Kingdom</p>
                <p>024 54637253</p>
            </div>
            <div class="col-lg-6">
                <h2>Contact Form</h2>{% include 'flash.html' %} {{
                wtf.quick_form(contact) }}
            </div>
        </div>
    </div>
</section>
{% block footer %}
{% include 'footer.html'%}
{% endblock %}
{% endblock %}