{% extends 'base.html' %}
{% block content %}
{% include 'home_header.html'%}  
<div class="container">
   <div class="row">
      <div class="col-lg-12">
         <h2>Blank</h2>
         <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
      </div>
      <div class="col-lg-6">
         <h4>Blank</h4>
         <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
         <h4>Blank</h4>
         <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
         <h4>Blank</h4>
         <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
      </div>
      <div class="col-lg-6">
         <h4>Blank</h4>
         <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
         <h4>Blank</h4>
         <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
         <h4>Blank</h4>
         <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
      </div>
   </div>
</div>
{% include 'footer.html'%}
{% endblock %}